/* ---------HEADER--------- */

header {
  padding: 5px;
  padding-right: 100px;
  /* color: #000; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}
h2,
h3 {
  font-family: fantasy;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 54px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}

/* ---------IMAGE--------- */

img {
  height: 350px;
  width: 250px;
  margin-bottom: 25px;
  border-radius: 50%;
}

/* ---------NAV--------- */

nav {
  padding: 5px;
  padding-right: 50px;
  background-color: #000;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  text-align: right;
  text-transform: uppercase;
}

/* ---------BODY--------- */
body {
  margin: 10;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* ---------HORIZONTAL RULER--------- */

hr {
  width: 20px;
  height: 20px;
  border: none;
  background: #000;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
  background-color: #000;
}
/* ---------LISTS--------- */
ul {
  font-size: 12px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

/* ol {
  font-size: 12px;
  font-weight: bold;
  list-style-position: inside;
  text-align: center;
  text-transform: uppercase;
} */
/* ---------DIVIDERS--------- */
div {
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
}

/* ---------FOOTER--------- */

/* footer {
  height: 75px;
  background-color: #000;
} */

footer p {
  color: #000;
  text-align: left;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* ---------LINKS--------- */
a:link {
  color: #fff;
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(2, 153, 180);
}
a:active {
  color: rgb(221, 245, 4);
}
